/*-- scss:defaults --*/

// Body
$font-size: 35px;
$body-bg: #d6d2c4;
$body-color: #003b49;
$text-muted: lighten($body-color, 5%);

// Code
$code-block-border-color: lighten($body-color, 10%) !default;
$code-block-bg: #FFFFFF;

// Links and actions
$link-color: #a84d0e;
$link-hover-color: darken($link-color, 20%);

/*-- scss:rules --*/

.focus tr:nth-child(2) { 
  background: lightgray; 
}

.reveal .slide .note {
  border-left: 5px solid #a84d0e;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  padding: 0.5em;
  background: #fcece0;
}

.reveal .slide .example {
  border: 1px solid lighten($body-color, 10%);
  padding: 0.5em;
  background: #FFFFFF;
  font-size: 30px;
}

.font25{ 
  font-size: 25px
}
.font40{ 
  font-size: 40px
}
.font50{
  font-size: 50px 
}
.font75{ 
  font-size: 75px 
}
.font100{
  font-size: 100px 
}
.font150{ 
  font-size: 150px 
}

.horizontal-center {
  display: block;
  text-align: center;
}

.reveal .slide-number > a[href*='title-slide'] {
  display: none;
}

.reveal .callout.callout-tip.callout-style-simple {
  background-color: lighten($body-bg, 10%);
}
